.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh; // Adjust height as needed
  color: var(--theme-text); // Use theme variable for text color
  text-align: center;
  font-size: calc(1em + 4vw); // Adjusted for better responsiveness
}

.title {

  font-weight: bold;
  font-family: 'Geist-Mono-Regular', monospace; // Use your preferred font
} 

.blinkingCursor {
  margin-top: -10px; // Adjusted to move the cursor up
  height: calc(30px + 1vw); // Set height for larger cursor
  display: inline-block; // Ensure the width and height are applied
  animation: blink 1s step-end infinite;
  font-size: calc(1em + 6vw); // Increased for larger text size
  color: var(--theme-focused-foreground);
  margin-left: 2px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}