.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh; // Adjust height as needed
  color: var(--theme-text); // Use theme variable for text color
  text-align: center;
  font-size: calc(1em + 4vw); // Adjusted for better responsiveness
}

.title {

  font-weight: bold;
  font-family: 'Geist-Mono-Regular', monospace; // Use your preferred font
} 